html {
    border-left: 2px solid darkblue;
    max-width: 1000px;
    margin: 0 auto;
}

* {
    font-family: calabri, sans-serif;
}

aside,footer {
    font-style:italic;
}

.special {
    color: darkorange;
    font-weight: bold;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: circle;
}

#square {
    list-style-type: square;
}

header h1 {
    color: rgb(139,0,139);
}

a {
    color: black;
}

header a {
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid grey;
    color: black;
    background-color: lightblue;
    transition: 0.2s ease-in-out;
}
header a:hover {
    background-color: lightgray;
}

h2 {
    color: rgb(64,224,208);
}

#red-h3 {
    color: red;
}

#images {
    display: flex;
    justify-content: center;
}

thead,tr,th,td,tbody,tfoot,table {
    border: 2px solid black;
}

.row {
    text-align: right;
}